body {
    background-color: #fbf1c7;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

#maindiv {
    border: 10px;
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    min-height: 300px;
    min-width: 350px;
    max-width: 800px;
    background-color: #cece42;
    flex: auto;
    gap: 20px; 
}

#poopy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    min-height: 50px;
    min-width: 100px;
    max-width: 500px;
    background-color: plum;
    flex: auto;
}

#poop {
    display: flex;
    justify-content: right;
    margin: 10px;
    color: rebeccapurple;
}

#linooks {
    border: 5px;
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: left;
}


#centos {
    margin: 5px;
}